<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--<link rel="stylesheet" href="./css/style.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

  <nav class="navbar navbar-inverse bg-inverse">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Get Some News to Talk About HERE!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">See Saved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/empty">Empty News</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Get Your News Here!</h1>
      <hr>
      <p class="lead">Grab all the fresh news by letting us send you all the new information</p>

    </div>

    {{{body}}}

  </div>

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script src="app.js"></script>

<html>